{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/sign.css') }}">
{% endblock %}

{% block body %}
	<div class='login-flex-container'>
		<div class='flex-1'>
			<img src="{{ asset('images/login-img.svg')}}" alt="img login">
		</div>
		<div class='flex-2'>
			<div class='form-container'>
			<div class="infos-login">
				<img src="{{ asset('images/logos/logo-finanzen1.svg')}}" alt="img login">
				<h1 class="h3 mb-3 font-weight-normal">FinanZen</h1>
				<a href="">Politique de cookies</a>
			</div>
			<form method="post" class="form-login">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}
				{% if app.user %}
					<div class="mb-3">
						You are logged in as
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}">Logout</a>
					</div>
				{% endif %}
				<label for="inputPseudo">Pseudo</label>
				<input type="text" value="{{ last_username }}" name="pseudo" id="inputPseudo" class="form-control" autocomplete="username" required autofocus>
				<label for="inputPassword">Password</label>
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<a class="forgot_pwd_link" href="">Mot de passe oublié ?</a>
				<button class="btn btn-lg btn-primary" type="submit">
					Login
				</button>
			</form>
			</div>
		</div>
	</div>
{% endblock %}
