<footer{{ attributes }}>
    <hr>
    <p class="destock-copyrights">
        © 2025 Finanzen. Tous droits réservés.
    </p>
    <div class="footer-container">
        <div class="polities-links">
            <a href="">
                Mentions légales
            </a>
            <a href="">
                Politique de cookies
            </a>
            <a href="">
                Politique de confidentialité</a>
            </a>
        </div>
        <img src="{{ asset('images/logos/logo-finanzen1.svg') }}" class="logo-footer" alt="logo finanzen avec un caddie dedans" />
        <div class="importants-links">
            </a>
            <a href="">
                Mes statistiques
            </a>
            <a href="">Ma liste de courses</a>
            <a href="">
                Les mentions légales
            </a>
        </div>
    </div>
    <p class="mobile-copyrights">
        © 2025 Finanzen. Tous droits réservés.
    </p>
    </footer>

    {# {{ path('app_privacy') }}
    {{ path('app_cookies') }}
    {{ path('app_legal_notices') }} #}